<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/home/eidel/lib/GF-master/build/bin/gf"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--path=$GF_LIB/lib/src/english:$GF_LIB/lib/src/prelude:$GF_LIB/lib/src/common/:$GF_LIB/lib/src/abstract/:$GF_LIB/lib/src/api/ --gfo-dir=bin -src -make ${workspace_loc}/Simple/SimpleEng.gf ${workspace_loc}/Simple/SimpleSolr.gf"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/Simple}"/>
</launchConfiguration>
